body {
  background-color: #d2b48c;
}

.body-wrap {
  font-family: 'Lora', serif;
  font-size: 16px;
  background-color: #FFFFFF;
  display: inline-block;
  text-align: center;
}

.header {
  text-align: left;
  float: left;
  padding-left: 1em;
  color: #9f6934;
}

.header h2 {
  margin-top: 2em;
  margin-bottom: 0;
  color: #52361b
}

.headerImage {
  max-width: 30%;
  float: left;
  margin: 1em 0em 1em 5em;
  box-shadow: 2px 2px 10px #ccc;
}

.horizontalLine {
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #9f6934, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #9f6934, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #9f6934, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #9f6934, #f0f0f0); 
  width: 80%;
}

.navBar ul {
  padding: 0;
}

.navBar li {
  list-style: none;
  display: inline-block;
  font-size: 90%;
}

.navBar .icon {
  display: none;
}

a:link, a:visited {
  color: #a98307;
  text-decoration: none;
  padding: 0.5em 0.5em;
}

a:hover, a:active {
  background-color: #e2d5ac;
}

.mainContent {
  text-align: left;
}

.leftColumn {
  float: left;
  width: 70%;
  border-right: thin solid #e2d5ac;
}

#waffle-photos {
  margin-top: 0;
}

#waffle-photos li {
  list-style: none;
}

#waffle-photos img {
  max-width: 90%;
  margin: 0.5em;
  padding: 0.5em;
  box-shadow: 2px 2px 10px #ccc;
}

.rightColumn {
  float: right;
  width: 25%;
  font-size: 70%;
  text-align: left;
  margin-bottom: 1em;
}

.rightColumn h3 {
  color: #52361b;
  font-style: bold;
}

.rightColumn p {
  padding-left: 0.5em;
}

.columnsContainer::after {
  content:"";
  display: table;
  clear: both;
}

footer {
  font-size: 90%;
  background-color: #52361b;
  padding: 0.1em 0em;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  display: inline-block;
}

footer p {
  font-size: 80%;
  color: #9f6934;
}

@media screen and (max-width: 1920px) {
  .body-wrap {
    left: 20%;
    top: 0;
    position: absolute;
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .body-wrap {
    font-size: 80%;
  }

  .header {
    font-size: 90%;
  }

  .headerImage {
    padding-left: 5%;
  }

  .header h2 {
    margin-top: 1em;
  }

  .header p {
    margin: 0;
  }

  .navBar ul {
    padding: 0;
    text-align: initial;
  }
  
  .navBar a:not(.icon) {
    display: none;
  }

  .navBar a.icon {
    float: left;
    display: block;
  }

  .navBar.responsive {
    position: relative;
  }

  .navBar.responsive li:not(.iconClass) {
    display: block;
    padding-left: 1em;
  }

  .navBar.responsive a {
    float: none;
    display: block;
  }

  .leftColumn,
  .rightColumn {
    float: none;
    width: auto;
  }

  .leftColumn {
    border-right: none;
  }

  .rightColumn {
    margin-left: 27%
  }

  #waffle-photos {
    padding: 0;
  }

  footer ul {
    padding: 0;
  }
}